<!DOCTYPE html>
<html>
<head>
    <title>Data Nasabah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>

<div class="sidebar">
    <h2>♻️ Bank Sampah</h2>
    <ul>
        <li><a href="/admin_dashboard">📊 Dashboard</a></li>
        <li><a href="/admin_nasabah">👥 Nasabah</a></li>
        <li><a href="/admin_transaksi">♻️ Transaksi</a></li>
        <li><a href="/admin_penarikan">💸 Penarikan</a></li>
        <li><a href="/admin_kategori">🗂️ Kategori</a></li>
        <li><a href="/admin_notifikasi">🔔 Notifikasi</a></li>
        <li><a href="/logout">🚪 Logout</a></li>
    </ul>
</div>

<div class="main">
    <div class="topbar">
        <h2>Data Nasabah</h2>
    </div>

    <div class="card">
        <table>
            <tr>
                <th>ID</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Username</th>
                <th>Saldo</th>
            </tr>

            {% for n in nasabah %}
            <tr>
                <td>{{ n.id }}</td>
                <td>{{ n.kode_nasabah }}</td>
                <td>{{ n.nama }}</td>
                <td>{{ n.username }}</td>
                <td>Rp {{ n.saldo }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
</html>